@font-face {
  font-family: "Trajan Bold";
  src: url("./fonts/TrajanBold/TrajanBold.ttf");
}

@font-face {
  font-family: "Albertus Nova";
  src: url("./fonts/AlbertusNova.otf");
}

@font-face {
  font-family: "Charlotte";
  src: url("./fonts/Charlotte/Charlotte.otf");
}

body {
 background-color: rgb(10,10,10);
  color: #808fa6;
  font-family: "Albertus Nova";
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
}
