body {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #808fa6;
}
